# 6. Slope graphs

You might never have used a slope graph before, but you probably have seen them before.
Slope graphs are not commonly included in visualization packages, but they are great tools to tell a story.
These types of visualizations show how values change, possibly as a result of time or an action.

In this notebook, we will go through a simple example that will show you one application for slope graphs: plotting the popularity of different energy sources over 20 years.

In [1]:
%load_ext autoreload
%autoreload 2

import importlib
import matplotlib.pyplot as plt
import os
import pandas as pd
import sys

path = sys.path[0]
path = os.path.join(path, "..")
if path not in sys.path:
    sys.path.insert(1, path)

The slope graph example uses data from [the International Energy Agency](https://www.iea.org/data-and-statistics?country=EU28&fuel=Energy%20supply&indicator=Electricity%20generation%20by%20source), showing how the energy sources in the European Union changed from 1998 to 2018.

Changes over time, like this one, are a common use case for slope graphs.
A time series can illustrate the same thing, but the message tends to get muddled up.
As we'll see in this notebook, the slope graph's message is more direct.

As usual, first we read the data.
The included dataset contains information about energy sources from the European Union in 1998 and 2018.

The dataset has several energy sources, but we ignore those that are barely used.

In [2]:
# load the data
df = pd.read_csv('data/energy-changes.csv')
df = df.set_index('Source')
df = df[ df.max(axis=1) > 1e5 ]
df = df[[ '1998', '2018' ]]
df = df.sort_values(by='2018', ascending=False)
df

                 1998    2018
Source
Nuclear      932851.0  827007
Coal         943992.0  660266
Natural gas  392921.0  622935
Hydro        374215.0  378639
Wind          11273.0  377423
Biofuels      23446.0  168115
Solar PV          NaN  122972
Oil          220936.0   55909